# To show the performance of drop-in replacements for sklearn modules

Execution time observed here will vary system to system <br> Performance may increase or decrease<br>
Sytem used for execution of this notebook is : Ubuntu 16.04, 4GB RAM, 4 Cores, i5 Intel<br>
Dask : 13 sec<br>
Sklearn : 2 sec on 25 MB dataset

GridSearch for RandomForestRegressor on 4 core using dask takes = 1309.43 sec= 21.82 min <br>
GridSearch on using SKlearn takes = 1307.13 sec = 21.78min

#### Drop-in replacements for Sklearn from Dask to reduce the execution time

In [ ]:
from dask_ml.linear_model import LinearRegression
# from sklearn.linear_model import LinearRegression

In [ ]:
#Dask
lr = LinearRegression()
lr.fit(datanew, target)

#Sklearn
# lr = LinearRegression()
# lr.fit(datanew, target)

In [ ]:
dd.get_dummies(categorical_variables.categorize()).compute()
# pd.get_dummies(categorical_variables)

## Dask Logistic Regression

In [ ]:
import time
import dask.dataframe as dd
a=time.time()
# reading the csv files
df=dd.read_csv('train.csv')
test = dd.read_csv('test.csv')

In [ ]:
# #To distribute data on cluster among workers
# #To use on other laptop in cluster
# futures = df.map_partitions(lambda part: client.scatter([part])[0]).compute(scheduler='threads')  # single threaded local scheduler
# df = dd.from_delayed(list(futures), meta=df.apply(lambda x: x, axis=1))

In [ ]:
# #To distribute data on cluster among workers
# #To use on other laptop in cluster
# futures1 = test.map_partitions(lambda part: client.scatter([part])[0]).compute(scheduler='threads')  # single threaded local scheduler
# test = dd.from_delayed(list(futures1), meta=test.apply(lambda x: x, axis=1))

In [3]:
display(df.head())

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [2]:
# finding the null values in the dataset
print(df.isnull().sum().compute())

#defining the data and the target
categorical_variables = df[['Gender','Age','Occupation', 'City_Category','Stay_In_Current_City_Years','Marital_Status']]
target = df['Purchase']

#creating dummies for the categorical variables
data = dd.get_dummies(categorical_variables.categorize()).compute()

#converting dataframe to array
datanew = data.values

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [4]:

# with joblib.parallel_backend('dask',scheduler_host='192.168.1.104:8786'):#To run on other laptop
# with joblib.parallel_backend('dask'):#To run on same machine

from dask_ml.linear_model import LinearRegression
a=time.time()
lr = LinearRegression()
lr.fit(datanew, target)
print("Time taken for execution")
print(time.time()-a)

# preparing the test data
test_categorical = test[['Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status']]
test_dummy = dd.get_dummies(test_categorical.categorize()).compute()
testnew = test_dummy.values

#predict on test and upload
pred = lr.predict(testnew)
print("Predicted:")
print(pred)

Time taken for execution
8.761656999588013
Predicted:
[7911.62544111 9101.05308994 8972.23417733 ... 8939.70251971 9400.51898846
 8514.05449281]

## Sklearn Logistic Regression

In [9]:
import time


a=time.time()
#reading the csv files
import pandas as pd

df=pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

display(df.head())

#finding the null values in the dataset
print(df.isnull().sum())

#defining the data and the target
categorical_variables = df[['Gender','Age','Occupation', 'City_Category','Stay_In_Current_City_Years','Marital_Status']]
target = df['Purchase']

#creating dummies for the categorical variables
data = pd.get_dummies(categorical_variables)

#converting dataframe to array
datanew = data.values

#fit the model
from sklearn.linear_model import LinearRegression
a=time.time()
lr = LinearRegression()
lr.fit(datanew, target)
print("Time taken for execution:")
print(time.time()-a)


#preparing the test data
test_categorical = test[['Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status']]
test_dummy = pd.get_dummies(test_categorical)
testnew = test_dummy.values

#predict on test and upload
pred = lr.predict(testnew)
print("Predicted:")
print(pred)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64
Time taken for execution:
0.8812673091888428
Predicted:
[9228.  9948.  8556.5 ... 8675.  9039.5 8410.5]

Here sklearn takes less time for execution. This is due to overhead in doing partitoning and concatenating operation in dask.
But if size of dataset is very large and not fit in memory then dask will take less time.

## Grid Search using Dask

In [ ]:
# from sklearn.externals import joblib
# from dask.distributed import Client
# client = Client(processes=False, threads_per_worker=1,
#                 n_workers=4, memory_limit='4GB')
# client = Client()

# # client = Client('192.168.1.104:8786')
# client

In [5]:
param_grid = {
'bootstrap': [True],
'max_depth': [8, 9],
'max_features': [2, 3],
'min_samples_leaf': [4, 5],
'min_samples_split': [8, 10],
'n_estimators': [100, 200] 
}

In [6]:
# Create a sklearn model
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

# Instantiate the grid search model
import dask_searchcv as dcv
grid_search = dcv.GridSearchCV(estimator = rf, param_grid = param_grid, cv = 3)

In [7]:
# with joblib.parallel_backend('dask',scheduler_host='192.168.1.104:8786'):#To run on other laptop
# with joblib.parallel_backend('dask'):#To run on same machine
#     grid_search.fit(df, target)
a=time.time()
grid_search.fit(data, target) #Run on same machine using all cores
print(time.time()-a)

1325.9793508052826

In [8]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 9,
 'max_features': 3,
 'min_samples_leaf': 4,
 'min_samples_split': 10,
 'n_estimators': 200}

## Grid Search using Sklearn

In [10]:
import time
# Create the parameter grid based on the results of random search 
param_grid = {
'bootstrap': [True],
'max_depth': [8, 9],
'max_features': [2, 3],
'min_samples_leaf': [4, 5],
'min_samples_split': [8, 10],
'n_estimators': [100, 200] 
}

In [11]:
# Create a based model
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [ ]:
# Instantiate the grid search model
from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, cv = 3, n_jobs=-1)
a=time.time()
grid_search.fit(data, target)
print(time.time()-a)

In [ ]:
grid_search.best_params_